@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  #invoice-preview,
  #invoice-preview * {
    visibility: visible;
  }

  #invoice-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  header,
  nav,
  button,
  a[href] {
    display: none !important;
  }
}
